dist: xenial
language: python
cache: pip
python:
  - "3.7.3"
install:
  - pip install pipenv --upgrade
  - pipenv sync -d
script:
  - pytest -v -x -p no:warnings --cov-report term-missing --cov=.
after_success:
  - codecov
