[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
codecov = "*"

[packages]
python-telegram-bot = "*"
python-decouple = "*"
requests = "*"
dataset = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
test = "pytest -v -x -p no:warnings --cov-report term-missing --cov=."
